PORT = 5000
MONGO_URI = mongodb://localhost:27017/ShopAi-MERN
#MONGO_URI = mongodb+srv://shopai-mern:shreeja2026@cluster0.3zfehi6.mongodb.net/?appName=Cluster0/ecommerce

JWT_SECRET = your_jwt_secret_key_achalaavishreeja
EMAIL_USER = achalaghate@gmail.com  
EMAIL_PASS =yxpu nwjn vqhq mswr

CLOUDINARY_CLOUD_NAME = jrrnzkj9
CLOUDINARY_API_KEY = 547283876251731
CLOUDINARY_API_SECRET = cWykUiffJsuOkrOQlBfI0J9auRU